@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

:root{
    --font-family1:Unbounded;
    --font-family2: Manrope;
}

* {
    font-family: var(--font-family2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: white;
    background-color: #151515;
}
body {
    background: linear-gradient(to right, #d0dae0, #e2ebf0);
    height: 100%;
    width: 100%;

}

.navbar{
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-content: space-between;
}
#navlogo h2{
    font-family: var(--font-family1) !important;
}
.navlogo{
    font-size: 1.2rem;
    padding: 0px 5px;
}
.anavlogo{
    text-decoration: none;
    color: black;
}
/* .navlogo:hover{
    border: 0.125rem solid black;
    border-radius: .65rem;
} */
.alinks {
    text-decoration: none;
    color: black;
}
.alinks:hover{
    color: #ffffff;
}
.linkbtn {
    color: black;
    padding: 7.5px 15px;
    border: 1px solid black;
    border-radius: .65rem;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent ;
}
.linkbtn:hover{
    background-color:  #252525;
    color: white;
}

.about{
    width: 100%;
    /* min-height: 100vh; */
    padding: 0rem 1rem;
}

.abouthead{
    padding: 0rem 1rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        'h1'
        'h2'
    ;
}
#head1{
    grid-area: h1;
    font-family: var(--font-family1);
    width: 100%;
    text-transform: uppercase;
    font-size: 12.6vw;
}
#head3{
    grid-area: h2;
    font-family: var(--font-family1);
    width: 100%;
    text-transform: uppercase;
    font-size: 3.25vw;
   
}
.about2{
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* grid-template-rows: 0.5fr; */
    grid-template-areas: 
        'a1 a2'
    ;
    min-height: 80vh;
    gap: 2vw;
    padding: 0rem 1rem;
}
.aboutcontent{
    grid-area: a1;
    /* margin: 2rem; */
    padding: 2rem 1.5rem;
    border: 0px solid black;
    border-radius: 15px;
    background-color: #252525;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.aboutlink{
    display: flex;
    position: absolute;
    padding: 0.3125rem;
    right: 0;
    bottom: 0;
    background: #D7E1E7;
    border-top: 0vh solid black;
    border-left: 0vh solid black;
    border-radius: 15px 0 0 0;
}
.aboutlink::after{
    width: 1.125rem;
    height: 1.125rem;
    content: "";
    position: absolute;
    background-color: transparent;
    top: -1.125rem;
    right: 0;
    border-bottom-right-radius:0.625rem;
    box-shadow: 0.375rem  0.375rem  #D7E1E7;
}
.aboutlink::before{
    width: 1.125rem;
    height: 1.125rem;
    content: "";
    position: absolute;
    background-color: transparent;
    top: 2.45rem;
    left: -1.125rem;
    border-bottom-right-radius:0.625rem;
    box-shadow: 0.375rem  0.375rem  #D7E1E7;
}
.aboutcontent p{
    font-size: 1.65vw;
    font-weight: 310;
    color: #f0f8ff;
}
#aboutus{
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-family1);
    color: black;
}
.aboutbtn{
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-left: 0.75rem;
    margin-top: 0.1rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}
.aboutimg{
    grid-area: a2;
    background-image: url("pics/10.jpg");
    /* margin: 2rem; */
    padding: 1rem;
    border: 0px solid black;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
}
#hr{
    margin: 0rem 1.5rem;
    border: 1px solid black;
}
.aboutpara1{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
        'p1 p2'
    ;
    /* height: 100vh; */
    gap: 2vw;
}
.p1{
    grid-area: p1;
    padding: 1rem;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: var(--font-family1);
}
.p2{
    grid-area: p2;
    font-size: 1.5vw;
    padding: 1rem 0rem;
    line-height: 6vh;
}
.aboutpara2{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'f1 f2 f3'
    ;
    height: 73vh;
    gap: 2vw;
}
#pics1{
    grid-area: f1;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#pics2{
    grid-area: f2;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/22.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}   
#pics3{
    grid-area: f3;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.featureswork{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    grid-template-rows: 0.5fr 1.7fr  1fr 1fr;
    grid-template-areas: 
        'w0 w0 w0 w0'
        'w1 w2 w5 w5'
        'w1 w4 w4 w6'
        'w1 w4 w4 w6'
    ;
    height: 120vh;
    width: 100%;
    gap: 2.5vw;
    background-color: #252525;
}
#work0{
    grid-area: w0;
    border: 0px solid black;
    border-radius: 15px;
    font-family: var(--font-family1);
    width: 100%;
    text-transform: uppercase;
    font-size: 5vw;
}

#work0 h2{
    font-family: var(--font-family1);
    width: 100%;
    text-transform: uppercase;
    font-size: 8.5vw;
    color: aliceblue;
}
#work1{
    grid-area: w1;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/26.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#work2{
    grid-area: w2;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/11.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#work4{
    grid-area: w4;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/SAVE_20230508_140506.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: aliceblue;
}
#work5{
    grid-area: w5;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#work6{
    grid-area: w6;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/32.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.projects{
    padding: 1rem 2rem;
    height: 280vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 0.3fr  0.7fr 0.85fr 1fr;
    grid-template-areas: 
        'pro0 pro0 pro0'
        'pro1 pro2 pro3'
        'pro4 pro4 pro3'
        'pro5 pro5 pro5'
    ;
    gap: 2vw;
    background: linear-gradient(to right, #b5c7d3, #d6e7f0);
}
.projects h2{
    font-family: var(--font-family1);
    width: 100%;
    text-transform: uppercase;
    font-size: 8.5vw;
    
}
.pro0{
    grid-area: pro0;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
#showall{
    font-size: 1.5vw;
    font-family: var(--font-family1);
    display: flex;
    justify-content: end;
    width: 15vw;
    margin-right: 1vw;
}
.showbtn{
    background-color: #252525;
    border: 1px solid black;
    border-radius: 50%;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
}

.pro1{
    grid-area: pro1;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/25.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
   
}

.pro2{
    grid-area: pro2;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/23.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.pro3{
    grid-area: pro3;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.pro4{
    grid-area: pro4;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/SAVE_20230513_190003.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.pro5{
    grid-area: pro5;
    border: 0px solid black;
    border-radius: 15px;
    background-image: url("pics/31.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}
.footer{
    height: 60vh;
    background: linear-gradient(to right, #b5c7d3, #d6e7f0);
}
.contactlinks{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.con2{
    display: flex;
    align-items: end;
    flex-direction: column;
}
.con2 a{
    color: black;
    font-size: 2vw;
    text-decoration: none;
}
.con1 h3,h4{
    font-size: 2vw;
    font-family: var(--font-family2);
    
}
.con1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#foot{
    font-family: var(--font-family1);
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 9.25vw;
    color: aliceblue;
    background-color: #252525;
    margin:  1.5rem;
}